.audio{
    height: 55px;
    width: 300px;
    border: 1px solid var(--cor-azul-jampa);
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.audio::-webkit-media-controls-panel{
    background-color: var(--cor-marron);
}
.audio::-webkit-media-controls-play-button{
    background-color: var(--cor-laranja);
    border-radius: 50%;
}
.audio::-webkit-media-controls-time-remaining-display{
    color: var(--cor-marron-escuro);
    margin-right: 2px;
}
.audio::-webkit-media-controls-timeline{
    background-color: var(--cor-laranja);
    border-radius: 40px;
    margin-left: 5px;
}
.audio::-webkit-media-controls-volume-slider{
    background-color: var(--cor-laranja);
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.audio::-webkit-media-controls-mute-button{
    background-color: var(--cor-laranja);
    border-radius: 50%;
}