.box-pc{
    margin-top: 100px;
    position: absolute;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    position: absolute;
    inset: 80px 200px 80px 80px;
    background: #ccc;
    border-radius: 20px;
}
.slider .slides{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 320px;
    width: 240px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.slider .slides:nth-child(1),
.slider .slides:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: top;
}
.slider .slides:nth-child(3){
    left: calc(50% + 240px);
    background-size: cover;
}
.slider .slides:nth-child(4){
    left: calc(50% + 500px);
    background-size: cover;
}
.slider .slides:nth-child(5){
    left: calc(50% + 760px);
    background-size: cover;
}
.slider .slides:nth-child(6){
    left: calc(50% + 1020px);
    background-size: cover;
    opacity: 0;
}
.inside{
    position: relative;
    padding: 40px;
    max-width: 600px;
    transition: 0.25s;
    transition-delay: 0s;
    transform: translateY(40px);
    opacity: 0;
    z-index: 3;
}
.inside .name-pc{
    font-family: var(--font-subtitle);
    font-size: 4em;
    color: var(--cor-azul-jampa);
}
.inside .text-pc{
    font-size: 2em;
    color: var(--cor-marron-escuro);
}
.inside .text-pc__moarth{
    font-size: 2em;
    color: var(--cor-laranja);
}
.slider .slides:nth-child(1) .inside,
.slider .slides:nth-child(2) .inside{
    transition-delay: 0.5s;
    transform: translateY(0px);
    opacity: 1;
}
.buttons{
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;
}
.buttons button{
    position: relative;
    height: 50px;
    width: 50px;
    background: var(--cor-marron-escuro);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.buttons button::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-top: 4px solid var(--cor-branca);
    border-left: 4px solid var(--cor-branca);
    transform: rotate(315deg) translate(2px, 2px);
}
.buttons button:nth-child(2)::before{
    transform: rotate(135deg) translate(2px, 2px);
}
.buttons button:active{
    opacity: 0.5;
}
@media (max-width: 900px){
    .slider{
        margin-top: 30px;
        position: absolute;
        inset: 40px 40px 200px 40px;
    }
    .slider .slides{
        height: 100px;
        width: 100px;
        top: initial;
        bottom: -170px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }
    .slider .slides:nth-child(1),
    .slider .slides:nth-child(2){
        top: initial;
        bottom: 0px;
    }
    .slider .slides:nth-child(3){
        left: 0;
    }
    .slider .slides:nth-child(4){
        left: 120;
    }
    .slider .slides:nth-child(5){
        left: 240;
    }
    .slider .slides:nth-child(6){
        left: 360;
    }
    .inside .name-pc{
        font-size: 2em;
        color: var(--cor-azul-jampa);
    }
    .inside .text-pc{
        font-size: 1.4em;
        color: var(--cor-laranja);
    }
    .inside .text-pc__moarth{
        font-size: 1.4em;
    }
}
